extends layouts/main-layout.pug
block style
    link(rel="stylesheet", href="/css/product.css")
block content
    main.main
        form.product-form(action="/product" method="POST")
            .form-control
                label(for="Title") Title
                Input(type="text", name="Title")
            .form-control
                label(for="Cost") Cost
                Input(type="text", name="Cost")
            .form-control
                label(for="Description") Description
                Input(type="text", name="Description")
            .form-control
                label(for="ProductLink") Product Link
                Input(type="url", name="ProductLink")
            button.button(type="submit") Add Product