extends layouts/main-layout.pug
block style
    link(rel="stylesheet", href="/css/product.css")
block content
    main
        h1 Hello
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src= product.url, alt= "/#{product.title}")
                        .card__content
                            h2.product__price #{product.cost}
                            p.product.description #{product.description}       
                        .card__action
                            button.btn Add To Cart  
        else
            h1 No Products found   